name: build-and-deploy

on:
  push:
    branches: ["main"]

env:
  NAMESPACE: default
  DEPLOYMENT: urlpinger
  CONTAINER: urlpinger
  IMAGE: mamdouhel/urlpinger

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: go test ./...

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ github.sha }}
            ${{ env.IMAGE }}:latest

      - uses: azure/setup-kubectl@v4

      - name: Load kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > kubeconfig
          echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV

      - name: Rollout new image
        run: |
          kubectl -n $NAMESPACE set image deployment/$DEPLOYMENT \
            $CONTAINER=${IMAGE}:${{ github.sha }}
          kubectl -n $NAMESPACE rollout status deployment/$DEPLOYMENT
